.layout {
  min-height: 100vh;
  width: 100vw;
  background-color: #f3f4f6; /* Cor de fundo sólida (Cinza claro) */
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}