// backend/src/routes/auth.routes.js
import express from 'express';
import * as AuthController from '../controllers/auth.controller.js';

const router = express.Router();

router.post('/login', AuthController.login);
router.post('/register', AuthController.register);
// router.post('/forgot-password', AuthController.forgotPassword); // Descomente se tiver esta função

export default router;
